body, img {
    width: 1200px;
}
img {
  float: left;
    margin-right: 20px;
}
p, footer, th, td, caption {
    font-size: 20px;
}
h2 {
    font-size: 24px;
}
/* font-face {
    font-family: "PTSerif-Regular";  
    
    font-style: normal; 
    font-weight: normal; 
  } */
   h1 {
    font-size: 64px;
   }


  td, th {
    padding: 10px;
    text-align: left;
}

selection {
    background-color: #78BC29; 
    color: #FFFFFF;            
}

